body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: auto 0;
    justify-content: center;
    align-items: center;
    font-family: 'Smythe', cursive;
    font-weight: 400;
    color: #000000;
}

.container{
    position: relative;
    width: 600px;
    display: flex;
    flex-direction: column;
     
}

p{
    color: #8B8B8B;
}


/* HEADER PART */

header {
    background: url('Images/title1.png');
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 167px;
    color: #fff;
}

header h1 {
    margin: 46px 46px 9px;
    font-size: 39px;
}

header p {
    margin: 0 0 70px 46px;
    font-style: normal;
    font-size: 22.42px;
}

/* SECTION PART */

.item-container,
.inner-text-cont,
.add-container{
    display: flex;
}

.food-emoji,
.food-price,
.add-link{
    margin: 0;
}

.item-container {
    width: 508px;
    height: 140px;
    border-bottom: 1px solid #D2D2D2;
    justify-content:space-between;
    align-items: center;
    margin: auto;
}
.emoji-container{
    height: 89px;
}

.food-emoji{
    width: 70px;
    font-size: 70px;
}

.Pizza {
    transform: rotate(-40deg);
}

.inner-text-cont {
    width: 33%;
    flex-direction: column;
    justify-content: flex-start;
    vertical-align: middle;
    margin-left: 31px;
}

.food-title{
font-size: 28px;
margin-bottom: 0;
}

.food-description{
font-size: 16px;
color: #8B8B8B;
margin: 8.8px 0;
}

.food-price {
    font-size: 20px;
}

.add-container{
    align-items:center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border:1.5px solid #DEDEDE;
    border-radius: 50%;
    margin-left: auto;
}

.add-link{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 24px;
    font-weight: 200;
    text-decoration: none;
    color: #3C3C3C;
}

.add-link:hover,
.add-container:hover {
    cursor: pointer;
    background-color: #DEDEDE;
}

/* ITEMS ORDERED */
.total-price-container,
.total-container,
.items-added,
.order-item,
.code-container {
    display: flex;
}

.order{
    margin: auto;
    width: 508px;
    min-height: 319px;
}
.title {
    text-align: center;
    margin-bottom: 64px;
}

.items-added{
    margin: 0 auto;
}

.order-item{
    width: 100%;
    justify-content:space-evenly;
    align-items: flex-start;
    margin-bottom: 22px;
}

.order-item h1,
.order-item p,
.order-item h3{
    margin:0;
}

.order-item p {
    margin-left: 13px;
    cursor: pointer;
}

.order-item h3,
.total-container h3 {
    margin-left: auto;
}

hr{
    border: none;
    border-top: 2px solid #393333;
}

.total-container{
    margin-top: 14px;
    flex-direction: column;
}

.total-container h1{
    font-size: 28px;
}

textarea {
    display: block;
    border: 1px solid #8B8B8B;
    border-radius: 5px;
    resize: none;
    padding: 10px;
    margin: auto;
    height: 24px;
    width: 70%;
}

.code-btn {
    width:25%;
    background: #065F46;
    color:#D2D2D2;
    text-align: center;
    padding-top: 5px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.code-btn:hover{
    background: #16DB99;
    cursor: pointer;
    color: yellow;
}

/*all the green btn */

.green-btn-container{  
    margin: 0 auto;
    margin-top: 53px;
    box-sizing: border-box;
    width: 508px;
    height: 60px;
    background-color: #16DB99;
    padding: 18px 175px;
    text-align: center;
    
}

.green-btn-text{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}

.green-btn-text:hover{
    cursor: pointer;
    color:antiquewhite;
}

/*Paymnet detail pop up window  */

.modal{
    display: none;
}
.payment-container {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    flex-direction: column;
    width: 524px;
    height: 542px;
    border:solid 1px #000000; 
    margin: auto; 
    background-color: #FFFFFF;
}

.payment-container h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 46.07px;
}

.payment-container input{
    width: 475.91px;
    height: 71.3px;
    border: 1.3px solid #757575;
    border-radius: 3.89px;
    margin: 0 auto 23.22px;
}

/*PAYMENT DETAIL CLOSE BTN*/

.modal-close-btn {
    font-size: 22px;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid transparent;
    color: #000000;
  }
  
  .modal-close-btn:hover,
  .modal-close-btn:active{
      color: red;
      cursor: pointer;
  }
  
  .modal-close-btn:disabled{
      color: whitesmoke;
      opacity: 0.2;
      cursor: not-allowed;
  }

  /* Payment confirmation message */
  .payment-confirmation-container{
    display: none;
    width: 504px;
    height: 120px;
    margin: 45px auto;
    background-color: #ECFDF5;
    text-align: center;
  }

  .payment-confirmation-container h1 {
    margin: 40px 66px 52px 59px;
    color: #065F46;
    
  }